* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #e4e5f187;
}
@import './variables';
@import './topBck';
@import './todos';
@import './darkTheme';
@import './mediaScreen';
@import './date';